
@{
    ViewData["Title"] = "AlreadyExists";
}

<div class="flex">
    <div class="items-center justify-center bg-green-100 rounded-md p-3 flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="#22E52E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>

        <div class="text-green-700">
            <div class="font-bold text-xl">You are already Registered with us!</div>

            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis sollicitudin dui vel gravida. Fusce faucibus, elit sit amet porttitor vehicula, urna nisi dapibus tellus, a tincidunt velit mi quis nulla.</div>
        </div>
    </div>
</div>